.logo {
  @include headerLogo;
}
.title {
  @include headerTitle;
}
header {
  @include header;
  background-color: burlywood;
  .headerText {
    margin-right: 0;
    margin-left: auto;
    padding-right: 20px;
  }
}
main {
  height: 81vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  @include footer;
}
