@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", "Hannari", "游ゴシック", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro",
    "Yu Gothic", "Meiryo";
}

body {
  font-size: 20px;
  // color: #333;
  color: dimgrey;
  background-color: bisque;
}

a {
  text-decoration: none;
  color: dimgrey;
}
