@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Caveat", "Hannari", "游ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro", "Yu Gothic", "Meiryo";
}

body {
  font-size: 20px;
  color: dimgrey;
  background-color: bisque;
}

a {
  text-decoration: none;
  color: dimgrey;
}

#Layout .logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 10px;
}

#Layout .title {
  font-weight: bold;
  font-size: xx-large;
}

@media (max-width: 767px) {
  #Layout .title {
    font-size: 5vw;
  }
}

#Layout header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: burlywood;
}

#Layout header .snsImages {
  margin-right: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#Layout header .snsImages img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

#Layout .topImage {
  position: relative;
  height: 450px;
}

@media (max-width: 767px) {
  #Layout .topImage {
    height: 50vw;
  }
}

#Layout .topImage img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  #Layout .topImage img {
    height: 50vw;
  }
}

#Layout .topImage div {
  color: darkslategray;
  position: absolute;
  left: 8%;
  top: 20%;
  font-size: 6vw;
}

#Layout main {
  width: 70%;
  margin: 60px auto;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  #Layout main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#Layout main .children {
  width: 70%;
}

@media (max-width: 767px) {
  #Layout main .children {
    width: 100%;
  }
}

#Layout main .profile {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Layout main .profile .profileContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Layout main .profile .profileContents .kanjiName {
  text-align: center;
  color: dimgrey;
  font-size: 3vw;
  font-weight: bold;
}

#Layout main .profile .profileContents .romajiName {
  text-align: center;
  font-size: 2vw;
  margin-top: 5px;
}

#Layout main .profile .profileContents .job {
  text-align: center;
  margin: 10px 0 100px 0;
  font-size: 1.5vw;
}

#Layout main .profile .profileContents img {
  width: 15vw;
  height: 15vw;
  border-radius: 120px;
  margin: 10px auto;
  display: block;
}

@media (max-width: 767px) {
  #Layout main .profile {
    width: 100%;
    margin: 30px 0;
  }
  #Layout main .profile .profileContents {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  #Layout main .profile .profileContents {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  #Layout main .profile .profileContents .profileText {
    width: 70%;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  #Layout main .profile .profileContents .profileText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
}

@media (max-width: 767px) {
  #Layout main .profile .profileContents .kanjiName {
    font-size: 5vw;
    text-align: start;
  }
  #Layout main .profile .profileContents .romajiName {
    font-size: 3vw;
    text-align: start;
  }
  #Layout main .profile .profileContents .job {
    font-size: 2vw;
    text-align: start;
  }
  #Layout main .profile .profileContents img {
    width: 18vw;
    height: 18vw;
    margin: 10px 30px;
    display: block;
  }
}

#Layout main .profile .pastArticleList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #Layout main .profile .pastArticleList {
    width: 100%;
  }
}

#Layout main .profile .pastArticleList .pastArticleTitle {
  position: relative;
  padding: 0.5em;
  margin-bottom: 10px;
  text-align: center;
  width: 120px;
  background: burlywood;
  font-size: 20px;
  font-weight: bold;
}

#Layout main .profile .pastArticleList .pastArticleTitle::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 20px;
  border: 15px solid transparent;
  border-top: 15px solid burlywood;
  width: 0;
  height: 0;
}

#Layout main .profile .pastArticleList .pastArticles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  #Layout main .profile .pastArticleList .pastArticles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#Layout main .profile .pastArticleList .pastArticles .pastArticle {
  border-left: solid 5px burlywood;
  /*左線*/
  margin-top: 20px;
  padding-left: 10px;
}

@media (max-width: 767px) {
  #Layout main .profile .pastArticleList .pastArticles .pastArticle {
    margin: 3vw;
  }
}

#Layout footer {
  background-color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
}

#Layout footer .btn {
  margin-right: 0;
  margin-left: auto;
}

#Layout footer .btn button {
  margin: auto 20px;
  padding-bottom: 28px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: bisque;
  border: none;
  border-radius: 100px;
}

@media (max-width: 767px) {
  #Layout footer .btn button {
    width: 35vw;
    font-size: 4vw;
    padding-bottom: 0;
  }
}

#Layout footer .btn button:hover {
  opacity: 0.8;
}

#topPage .recentArticles {
  padding-left: 50px;
}

@media (max-width: 767px) {
  #topPage .recentArticles {
    width: 80%;
  }
}

#topPage .recentArticles .recentArticleTitle {
  position: relative;
  background: burlywood;
  font-size: 3vw;
  width: 40%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-box-shadow: 0px 0px 0px 5px burlywood;
          box-shadow: 0px 0px 0px 5px burlywood;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

@media (max-width: 767px) {
  #topPage .recentArticles .recentArticleTitle {
    width: 30vw;
    font-size: 5vw;
  }
}

#topPage .recentArticles .recentArticleTitle:after {
  position: absolute;
  content: "";
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff burlywood;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

#topPage .recentArticles .recentArticleList {
  width: 100%;
}

#topPage .recentArticles .recentArticleList .recentArticle {
  width: 90%;
  height: 250px;
  margin-top: 30px;
}

@media (max-width: 767px) {
  #topPage .recentArticles .recentArticleList .recentArticle {
    height: 60%;
  }
}

#topPage .recentArticles .recentArticleList .recentArticle .title {
  font-weight: bold;
  font-size: 40px;
}

@media (max-width: 767px) {
  #topPage .recentArticles .recentArticleList .recentArticle .title {
    font-size: 8vw;
  }
}

#topPage .recentArticles .recentArticleList .recentArticle .postDate {
  font-size: 30px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  #topPage .recentArticles .recentArticleList .recentArticle .postDate {
    font-size: 6vw;
  }
}

@media (max-width: 767px) {
  #topPage .recentArticles .recentArticleList .recentArticle .content {
    font-size: 3vw;
  }
}

#article .articleContent {
  width: 90%;
}

@media (max-width: 767px) {
  #article .articleContent {
    width: 70%;
    margin: 0 auto;
  }
}

#article .articleContent .title {
  font-size: 4vw;
  margin-bottom: 30px;
}

#article .articleContent .postDate {
  font-size: 2vw;
  margin-bottom: 30px;
}

#article .articleContent .content {
  font-size: 1.8vw;
}

#AdminLayout .logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin: 0 10px;
}

#AdminLayout .title {
  font-weight: bold;
  font-size: xx-large;
}

@media (max-width: 767px) {
  #AdminLayout .title {
    font-size: 5vw;
  }
}

#AdminLayout header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: burlywood;
}

#AdminLayout header .headerText {
  margin-right: 0;
  margin-left: auto;
  padding-right: 20px;
}

#AdminLayout main {
  height: 81vh;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#AdminLayout footer {
  background-color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 9vh;
}

#AdminLayout footer .btn {
  margin-right: 0;
  margin-left: auto;
}

#AdminLayout footer .btn button {
  margin: auto 20px;
  padding-bottom: 28px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: bisque;
  border: none;
  border-radius: 100px;
}

@media (max-width: 767px) {
  #AdminLayout footer .btn button {
    width: 35vw;
    font-size: 4vw;
    padding-bottom: 0;
  }
}

#AdminLayout footer .btn button:hover {
  opacity: 0.8;
}

#loginAdmin .loginForm {
  width: 60vw;
  height: 50vh;
}

#loginAdmin .loginForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#loginAdmin .loginForm form .loginTitle {
  font-size: 5vw;
}

#loginAdmin .loginForm form .content {
  width: 50vw;
}

#loginAdmin .loginForm form .content .inputTitle {
  font-size: 3vw;
}

#loginAdmin .loginForm form .content .inputTitle .errorMessage {
  font-size: 2vw;
  color: #dc5757;
}

#loginAdmin .loginForm form .content input {
  border-radius: 20em;
  width: 100%;
  height: 3vh;
  padding: 10px;
  font-size: 2vw;
}

#loginAdmin .loginForm form .loginButton {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#loginAdmin .loginForm form .loginButton button {
  margin: auto 20px;
  padding-bottom: 28px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  background-color: bisque;
  border: none;
  border-radius: 100px;
  background-color: burlywood;
  margin: 3vw;
}

@media (max-width: 767px) {
  #loginAdmin .loginForm form .loginButton button {
    width: 35vw;
    font-size: 4vw;
    padding-bottom: 0;
  }
}

#loginAdmin .loginForm form .loginButton button:hover {
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */